<script src="{{ asset('JavaScript/funcionesTiempo.js') }}"></script>

    <div id="apitiempo">
        <label for="ubicacion">Selecciona tu ubicación:</label>
        <select id="ubicacion" name="ubicacion">
            <option value="Seleccion">-- Ubicaciones --</option>
            <option value="Actual">Ubicación actual</option>
            <option value="Madrid">Madrid</option>
            <option value="Barcelona">Barcelona</option>
            <option value="Bilbao">Bilbao</option>
            <option value="Tenerife">Santa Cruz de Tenerife</option>
            <option value="London">Londres</option>
            <option value="Paris">París</option>
            <option value="Rome">Roma</option>
            <option value="Berlin">Berlín</option>
            <option value="new-york">New York</option>
            <option value="los-angeles">Los Ángeles</option>
            <option value="toronto">Toronto</option>
            <option value="vancouver">Vancouver</option>
            <option value="mexico-city">México DF</option>
            <option value="buenos-aires">Buenos Aires</option>
            <option value="bogota">Bogotá</option>
            <option value="rabat">Rabat</option>
            <option value="cairo">El Cairo</option>
            <option value="tokyo">Tokyo</option>
            <option value="seul">Seul</option>
            <option value="pekin">Pekín</option>
            <option value="sydney">Sydney</option>
        </select>
    </div>   