
    
<script src="{{ asset('JavaScript/funcionesListaUsuarios.js') }}"></script>
    <div id="buscar_ususarios">
        <form id="formulario_buscador_usuarios">
            <label for="buscador">Buscar un usuario:
            <input type="text" id="buscador" name="buscador"></label>
        </form>
        <div id="div_lista"></div>
    </div>
