

<script src="{{ asset('JavaScript/funcionesYoutube.js') }}"></script>

    <div id="youtube">
        <div id="formularioYoutube">
            <form id="formulario_buscador_yt">
                <label for="buscadorVideos">Buscador de videos: </label>
                <input type="text" id="buscadorVideos" name="buscadorVideos">
            </form>
        </div>
        <div id="div_listaVideos"></div>
    </div>
