{% extends 'base.html.twig' %}

{% block title %}Buscar videos{% endblock %}

{% block estilo %}<link href="{{ asset('CSS/apis.css') }}" rel="stylesheet">{% endblock %}

{% block contenido %}
    <div id="api" class="col-10 seccion">
        {% block youtube %}
            {{include('youtube.html.twig')}}
        {% endblock %}
    </div>
{% endblock %}